
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
*.log
*.res

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo
*.obj

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.tlog

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.ipch
*.opensdf
*.sdf

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.aps
*.suo
